/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////// QWidget //////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
QWidget{	color: white;
			font-size: 12px;
	}
#centralwidget{	background-color: #04253e;	}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////StackedWidget//////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#stackedWidget .QFrame{
	background-color: #031d32;
    border-radius: 6px;
	border: 1px solid gray;
	color: #ffffff;
} 


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////APP FRAME //////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#appFrame .QPushButton, #topBarFrame .QPushButton {	
    background-color: qlineargradient(spread:reflect, x1:0, y1:1, x2:0, y2:0.33, stop:0 #24394c, stop:0.933845 #436a8c);
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
}

#appFrame .QPushButton:hover, #topBarFrame .QPushButton:hover{	
	background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #507590, stop: 0.1 #507590, stop: 0.5 #507590, stop: 0.9 #304d66, stop: 1 #304d66);
}

#appFrame .QPushButton:pressed, #topBarFrame .QPushButton:pressed{	
	padding-left: 2px;
	padding-top: 5px;
	background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #304550 , stop: 0.1 #304550, stop: 0.5 #24394c, stop: 0.9 #304550, stop: 1 #304550);

}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////// LEFT MENU ////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#leftMenuFrame{	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #031d32 , stop:1 #04253e);	}	

#leftMenuFrame .QPushButton {	
    background-color: #24394c;
	color: #ffffff;
	text-align: left;
	padding-left: 15px;  
	border-radius: 6px;
}

#leftMenuFrame .QPushButton:hover{	
	border-right: 25px solid transparent;
	background-color: #304d66;
}

#leftMenuFrame .QPushButton:focus {
	border-right: 25px solid transparent;
	background-color: #304d66;
}

#leftMenuFrame .QPushButton:checked {
	border-right: 25px solid transparent;
	background-color: #436a8c;
}

/*Dont draw border in hide menu button*/
#leftMenuFrame .QPushButton#pushButton_menu:hover{
	border-right: 0px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////TOB BAR STYLE /////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#topBarFrame{	background-color: qlineargradient(spread:reflect, x1:0.605, y1:0, x2:0.538, y2:1, stop:0 #031d32, stop:1 #04253e); }

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////TabWidget//////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

QTabWidget::pane {
  
  border-top-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  border: 1px solid gray;
  top:-1px; 
  background-color: #031d32;
  color: white;
} 

QTabBar::tab {	
  background-color: #24394c;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;

  border: 1px solid gray; 
  padding: 10px;
} 

QTabBar::tab:selected { 
  background-color: #031d32;
  margin-bottom: -1px; 
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////QTableWidget //////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

QTableWidget {	
	background-color: transparent;
	padding: 0px;
	border-radius: 5px;
	gridline-color: #2c313a;
	border-bottom: 1px solid #2c313a;
}

QTableView::item:alternate { 
	background-color: #08253e;
}
QTableWidget::item{
	border-color: #2c313a;
	padding-left: 5px;
	padding-right: 5px;
	gridline-color: #2c313a;
}
QTableWidget::item:selected{
	background-color: #34526d;
}


QHeaderView::section{
	background-color: #21252b ;
	max-width: 30px;
	border: 1px solid #21252b;
	border-style: none;
    border-bottom: 1px solid #21252b;
    border-right: 1px solid #21252b;
}
QTableWidget::horizontalHeader {	
	background-color: #04253e;
}

QTableWidget::item::selected, QTableWidget QLineEdit { 
	background-color: #34526d; 
	color: white; 
	border: 0px;
}

QTableWidget QTableCornerButton::section {
    background-color: #34526d;
}


QHeaderView::section:horizontal
{
    border: 1px solid #21252b ;
	background-color: #21252b ;
	padding: 3px;
	border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
QHeaderView::section:vertical
{
    border: 1px solid #21252b;
}


QScrollBar:horizontal {
    border: none;
    background: #6272a4;
    height: 15px;
    margin: 0px 21px 0 21px;
	border-radius: 0px;

}
QScrollBar::handle:horizontal {
    background: #34526d;
    min-width: 25px;
	border-radius: 4px
}
QScrollBar::add-line:horizontal {
    border: none;
    background: #6272a4;
    width: 20px;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    border: none;
    background: #6272a4;
    width: 20px;
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal
{
	 background: url(:/images/up-arrow.png); 
     
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}
QScrollBar:vertical {
	border: none;
	background-color: #6272a4;
	width: 15px;
	margin: 21px 0 21px 0;
	border-radius: 0px;
}
QScrollBar::handle:vertical {	
	background: #34526d;
	min-height: 25px;
	border-radius: 4px
}
QScrollBar::add-line:vertical {
	border: none;
	background: #6272a4;
	height: 20px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
	border: none;
	background: #6272a4;
	height: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////PROGRESS BAR STYLE //////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
QProgressBar {
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	background-color: #34526d;
    border: 1px solid black;
    border-radius: 4px;
}

QProgressBar::chunk {
    background-color: #2765a4;
	border-radius: 4px;
	margin: 0.25px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////SPIN BOX //////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


QComboBox QAbstractItemView {
    border: 2px solid darkgray;
    selection-background-color: #24394c;
 	background-color: #04253e;
}


QTextEdit, QLineEdit, QListView, QComboBox, QSpinBox, QDoubleSpinBox{	
	background-color: #04253e;
	border-radius: 4px;

}

QTextEdit:focus, QLineEdit:focus, QListView:focus, QComboBox:focus, QSpinBox:focus, QDoubleSpinBox:focus{	
	background-color: #04253e;
	border-radius: 4px;
	border: 2px solid lightgray;
}

QTextBrowser, QScrollArea {	
	background-color: #031d32;
	border-radius: 4px;
	border: 1px solid lightgray;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////ScrollArea//////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


QAbstractScrollArea #scrollAreaWidgetContents {
	background-color: transparent;
	border: 0px;

}

QAbstractScrollArea #scrollAreaWidgetContents_2 {
	background-color: transparent;
	border: 0px;
}

QAbstractScrollArea #scrollAreaWidgetContents_3 {
	background-color: transparent;
	border: 0px;

}

QMenu {
    background-color: #2C3F50;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom:4px solid #2CCD70;
    color:#fff;;
}

QMenu::item {
    spacing: 3px; /* spacing between menu bar items */
    padding: 10px 85px 10px 20px;
    background: transparent;
}

QMenu::item:selected {
    background-color: #34495E;
    border-top: none;
    border-left:none;
    border-bottom:none;
    border-left:3px solid  #2CCD70;
}